@font-face {
  font-family: 'BigShoulders_36pt';
  src: url('../src/fonts/BigShoulders_36pt-Bold.ttf') format('truetype');
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'BigShoulders_36pt';
}
@font-face {
  font-family: 'AlbertSans-Light';
  src: url('../src/fonts/AlbertSans-Light.ttf') format('truetype');
}
button {
  font-family: 'BigShoulders_36pt'!important;
}
p {
  font-family: 'AlbertSans-Light';
}